::after,
::before,
 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    box-sizing: inherit;
    background-color: #b2bbd3;
}

.control-fluid {
    /* background-color: black; */
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media screen  and (min-width: 400px) {
    .control-fluid {
        /* background-color: blue; */
        display: flex;
        justify-content: space-evenly;
        margin-top: 50px;
    }
}

.options {
    /* color: #0d6efd; */
    color: black;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
.container {
    display: flex;
    /* border: 1px solid red; */
}

#start-btn {
    margin-bottom: 20px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    background-color: #ff7733;
    /* background-color: #0275d8; */
    width: 200px;
    height: 400px;
}

.grid div {
    width: 20px;
    height: 20px;
    /* background-color: orangered; */
}

.tetromino {
    background-color: #fedd89;
}

/* .taken {
    background-color: red;
} */

.marks {
    display: flex;
    /* border: 1px solid black; */
    justify-content: space-between;
}

.mini-grid {
    display: flex;
    flex-wrap: wrap;
    width: 80px;
    height: 80px;
    background-color: #ff7733;
    /* background-color: #0275d8; */
    margin-left: 20px;
}

/* @media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      /* width: 80px; */
      /* -webkit-appearance: none; */
      /* background-color: #9a905d; */
    /* }
} */

/* #range {
    background-color: #ff7733;
    color: #fedd89;
} */


.mini-grid div {
    width: 20px;
    height: 20px;
}